@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4">Mais Vendidos</h1> *@
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    @* <div class="row">
        <div class="col-4 my-2">
            <div class="card text-left">
                <div class="card-body">
                    <h3 class="card-title">hary pote</h3>
                    <img src=""
                        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                        alt="">
                    <p class="card-text">Text</p>
                </div>
            </div>
        </div>
    </div> *@
</div>
